<div id="sidebar">
    <DxMenu Orientation="@Orientation.Vertical" CssClass="menu">
        <Items>
            <DxMenuItem NavigateUrl="/" Text="Home" CssClass="menu-item" IconCssClass="icon home-icon"></DxMenuItem>
            <DxMenuItem NavigateUrl="/chat" Text="Chat" CssClass="menu-item" IconCssClass="icon weather-icon"></DxMenuItem>
        </Items>
    </DxMenu>
</div>