@page "/emptystate"
@using DevExpress.AIIntegration.Blazor.Chat

<DxAIChat CssClass="my-chat">
    <EmptyMessageAreaTemplate>
        <div class="my-chat-ui-description">
            AI Assistant is ready to answer your questions.
        </div>
    </EmptyMessageAreaTemplate>
</DxAIChat>